In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px
from datetime import datetime

In [35]:
country_ccases = pd.read_csv("Resources/Daily_Country_Wise_Confirmed_Cases.csv")
world_cases = pd.read_csv("Resources/Monkey_Pox_Cases_Worldwide.csv")
World_timeline = pd.read_csv("Resources/Worldwide_Case_Detection_Timeline.csv")

In [ ]:
#Data Cleaning

In [7]:
country_ccases.describe()

,2022-05-06,2022-05-12,2022-05-13,2022-05-15,2022-05-17,2022-05-18,2022-05-19,2022-05-20,2022-05-21,2022-05-23,...,2022-05-26,2022-05-27,2022-05-28,2022-05-29,2022-05-30,2022-05-31,2022-06-01,2022-06-02,2022-06-03,2022-06-04
count,32.000000,32.000000,32.000000,32.000000,32.00000,32.000000,32.000000,32.00000,32.000000,32.000000,...,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,0.031250,0.031250,0.031250,0.125000,0.09375,0.656250,0.500000,1.43750,0.500000,2.281250,...,2.750000,1.593750,0.500000,0.468750,3.843750,2.062500,2.593750,3.906250,2.843750,0.031250
std,0.176777,0.176777,0.176777,0.707107,0.53033,2.280483,1.626395,4.42819,1.796053,6.849697,...,6.278483,4.641047,1.665591,1.684548,13.107765,4.825587,6.241688,7.441641,6.096585,0.176777
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.00000,0.000000,1.000000,...,2.000000,0.250000,0.000000,0.000000,1.000000,1.000000,1.250000,2.000000,3.000000,0.000000
max,1.000000,1.000000,1.000000,4.000000,3.00000,11.000000,9.000000,23.00000,10.000000,36.000000,...,25.000000,21.000000,9.000000,9.000000,71.000000,20.000000,27.000000,26.000000,27.000000,1.000000

In [ ]:
# Top 10 countries with the highest cases

In [37]:
# Top 5 increasing speed
dates = list(country_ccases.columns)
dates = dates[1:]
datelist = [datetime.strptime(date, "%Y-%m-%d").date() for date in dates]
print(datelist)
# Known the dates are in order, hence use the last day to minus the first date
dayspassed = (datelist[-1] - datelist[0]).days

[datetime.date(2022, 5, 6), datetime.date(2022, 5, 12), datetime.date(2022, 5, 13), datetime.date(2022, 5, 15), datetime.date(2022, 5, 17), datetime.date(2022, 5, 18), datetime.date(2022, 5, 19), datetime.date(2022, 5, 20), datetime.date(2022, 5, 21), datetime.date(2022, 5, 23), datetime.date(2022, 5, 24), datetime.date(2022, 5, 25), datetime.date(2022, 5, 26), datetime.date(2022, 5, 27), datetime.date(2022, 5, 28), datetime.date(2022, 5, 29), datetime.date(2022, 5, 30), datetime.date(2022, 5, 31), datetime.date(2022, 6, 1), datetime.date(2022, 6, 2), datetime.date(2022, 6, 3), datetime.date(2022, 6, 4)]

In [38]:
# Calculate the totals for each country
country_ccases["Total"] = country_ccases.sum(axis = 1)
country_ccases["Increasing Speed (cases/day)"] = country_ccases["Total"]/dayspassed

In [42]:
country_ccases.sort_values(by=["Increasing Speed (cases/day)"], ascending = False, inplace=True)
country_ccases.head()

,Country,2022-05-06,2022-05-12,2022-05-13,2022-05-15,2022-05-17,2022-05-18,2022-05-19,2022-05-20,2022-05-21,...,2022-05-28,2022-05-29,2022-05-30,2022-05-31,2022-06-01,2022-06-02,2022-06-03,2022-06-04,Total,Increasing Speed (cases/day)
0,England,1,1,1,4,0,2,0,11,0,...,0,0,71,11,5,11,15,0,214,7.379310
2,Spain,0,0,0,0,0,7,0,23,10,...,0,9,8,20,0,26,27,0,189,6.517241
1,Portugal,0,0,0,0,3,11,9,0,0,...,0,0,22,4,19,19,5,0,143,4.931034
4,Canada,0,0,0,0,0,0,2,3,0,...,0,0,0,1,27,23,3,0,80,2.758621
9,Germany,0,0,0,0,0,0,1,1,2,...,1,0,3,16,0,17,8,0,66,2.275862

In [64]:
#Take 2 columns from world_cases to join with the country_cases

world_cases_sh = world_cases[["Country", "Confirmed_Cases", "Suspected_Cases"]]
country_ccases_sh = country_ccases[["Country", "Increasing Speed (cases/day)"]]
cases_by_country = pd.merge(world_cases_sh, country_ccases_sh, on="Country", how="outer")
cases_by_country["Increasing Speed (cases/day)"] = cases_by_country["Increasing Speed (cases/day)"].fillna(0)
cases_by_country.style.background_gradient(axis=0, cmap="Blues")

In [ ]:
#Confirmed cases on world map